<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.umby.hello.uisample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="UAS-MC-15111115"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name="com.umby.hello.uas15111115.ProductDetailActivity">
        </activity>
        <activity android:name="com.umby.hello.uas15111115.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.umby.hello.uas15111115.LandingActivityHat">
        </activity>
        <activity android:name="com.umby.hello.uas15111115.LandingActivityShirt">
        </activity>
        <activity android:name="com.umby.hello.uas15111115.MainActivity">
        </activity>
    </application>

</manifest>